@media (max-width: 560px) {
  .nav,
  .phone {
    display: none;
  }

  .container {
    padding: 0 20px;
  }

  .header-row {
    justify-content: space-between;
    gap: 10px;
    padding: 15px 0;
  }

  .book-now {
    font-size: 14px;
    padding: 10px 25px;
    width: max-content;
  }

  .logo {
    font-size: 12px;
  }
  .hero-title {
    font-size: 36px;
  }

  .hero-description {
    font-size: 16px;
    line-height: 1.4;
  }
  .hero-actions {
    flex-direction: column;
  }
  .hero-customers {
    flex-direction: column;
    gap: 15px;
  }

  .choose {
    padding: 50px 0;
  }

  .choose-row {
    flex-direction: column;
    color: #fff;
    max-width: none;
  }
  .choose-content {
    order: -1;
    padding-left: 0;
    text-align: center;
    border: none;
  }
  .choose-column h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .choose-column p {
    font-size: 14px;
    max-width: none;
  }

  .choose-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
  }

  .choose-content p {
    font-size: 14px;
    max-width: none;
  }

  .window-coating {
    flex-direction: column;
    gap: 40px;
  }

  .window-coating .window-coating-column {
    padding: 0;
    border: none;
  }

  .window-content-title {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
  }

  .window-content-desc {
    max-width: none;
    font-size: 14px;
  }

  .window-tint-row {
    flex-direction: column;
  }

  .window-tint-content {
    text-align: center;
  }

  .window-tint-image img {
    max-width: 100%;
    margin-left: 10px;
  }
  .window-tint {
    padding: 40px 0;
  }

  .ppf {
    padding: 50px 0;
  }
  .ppf-row {
    flex-direction: column;
  }

  .ppf-title {
    text-align: center;
    font-size: 38px;
  }

  .ppf-content {
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }

  .ppf-cars-row {
    width: 80vw;
  }

  .gallery {
    padding: 50px 0;
  }

  .gallery-title {
    font-size: 34px;
    text-align: center;
    margin-bottom: 25px;
  }

  .gallery-prev {
    bottom: 280px;
    top: auto;
    right: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
  }

  .gallery-next {
    bottom: 280px;
    top: auto;
    right: 20px;
    width: 45px;
    height: 45px;
  }

  .coating {
    padding: 50px 0;
  }

  .coating-row {
    flex-direction: column;
  }

  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }

  .coating-features-row {
    flex-direction: column;
    width: 100%;
  }

  .quote {
    padding: 50px 0;
  }
  .quote-row {
    flex-direction: column;
  }
  .quote .book-now {
    width: 100%;
  }
  .quote-contacts {
    flex-direction: column;
  }
  .quote-contacts-list {
    width: 100%;
  }
  .quote-contacts-list li {
    gap: 10px;
  }
  .quote-map {
    height: 350px;
  }
  .quote-title {
    font-size: 34px;
  }
  .quote-description {
    font-size: 14px;
  }
  .call-phone .call-row .call-column .call-row p {
    display: flex;
    padding: 0;
    margin: 0 auto;
    flex-direction: row;
  }

  .free-quote {
    padding:50px 0;
  }
  .title-qoute {
    font-size: 34px;
  }
  .pres-quote {
    font-size: 14px;

  }

.footer {
  padding:50px 0;
}
.footer-row {
  flex-direction: column;
  gap: 40px;
}
.footer col-3 {
  width: 100%;
}

}
